<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>性能测试数据结果</title>
    <script src="../static/js/echarts.common.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="../static/js/charts.js"></script>
    <script src="../static/js/dark.js"></script>
    <script type="text/javascript">
        alert("try");
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'memory_info' %}">内存数据</a></li>
                <li><a href="{% url 'cpu_info' %}">CUP数据</a></li>
                <li><a href="{% url 'flow_info' %}">流量数据</a></li>
                <li><a href="{% url 'kpi_info' %}">kpi数据</a></li>
                <li><a href="{% url 'fps_info' %}">fps数据</a></li>
                <li><a href="{% url 'battery_info' %}">电量数据</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block bodycontent %}
{% endblock %}
</body>
</html>