<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>性能测试数据结果</title>

    <script src="/static/js/echarts.common.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/charts.js"></script>
    <script src="/static/js/dark.js"></script>
    <script src="/static/js/xdja-common.js"></script>
</head>
<body onload="loadData()">
<div style="text-align: center;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="text-align: center;">
                <ul class="nav navbar-nav" style="display: inline-block; float:none; font-size:15px;">
                    <li><a href="{% url 'memory_info' %}">内存数据</a></li>
                    <li><a href="{% url 'cpu_info' %}">cpu数据</a></li>
                    <li><a href="{% url 'flow_info' %}">流量数据</a></li>
                    <li><a href="{% url 'kpi_info' %}">kpi数据</a></li>
                    <li><a href="{% url 'fps_info' %}">fps数据</a></li>
                    <li><a href="{% url 'battery_info' %}">电量数据</a></li>
                    <li><a href="{% url 'cpu_silence_info' %}">cpu静默</a></li>
                    <li><a href="{% url 'flow_silence_info' %}">流量静默</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="choose_version">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="chooseVersion()"
                           id="version_value">
                            请选择版本号 <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu" id="choose_version_content">

                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="choose_package">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="choosepkg()"
                           id="package_value">
                            请选择包名 <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu" id="choose_package_content">

                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% block bodycontent %}
    {% endblock %}
</div>

</body>
</html>