{% extends "base.html" %}
{% block bodycontent %}
    <script>

        function renderData() {
            var package_name = localStorage.getItem("package_name");
            var version_name = localStorage.getItem("version");
            $.get('/performance/getPowerData/' + package_name + '/' + version_name).done(function (data) {
                var powerList = data["battery_list"];
                var xdata = [];
                var ydata = [];
                for (var i = 0; i < powerList.length; i++) {
                    xdata.push(powerList[i][1]);
                    ydata.push(powerList[i][2]);
                }

                var option = {
                    title: {
                        text: '整机电量消耗统计'
                    },
                    color: ['#3398DB'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xdata,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} ms'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '整机电量消耗统计',
                            type: 'bar',
                            barWidth: '60%',
                            data: ydata
                        }
                    ]
                };
                var myChart = echarts.init(document.getElementById('battery_chart'));
                myChart.setOption(option);
            });
        }

        renderData();
    </script>
    <div class="panel-body">
        <p>耗电量测试需要拔掉usb之后，执行自己的测试用例，一段时间后再连接usb收集电量数据</p>

        <p>分析收集的数据可以使用开源库battery historian转换图表分析，这里展示的是各个应用的耗电情况</p>

        <p><strong>拔掉usb测试之前，要执行 adb shell dumpsys batterystats --reset来清空之前的测试数据</strong></p>
    </div>
    <div id="battery_chart" style="width: 70%;height: 400px; margin: 0 auto; background-color: #a6e1ec"></div>
{% endblock %}