{% extends "base.html" %}
{% block bodycontent %}
    <script>
        function add() {
            var package_name = localStorage.getItem("package_name");
            $.get('/performance/getMemData/' + package_name).done(function (data) {
                var Memory_list = data["memory_list"]
                var tbl = document.getElementById("tad");
                for (var i = 0; i < Memory_list.length; i++) {
                    var obj = tbl.insertRow(tbl.rows.length);
                    for (var k = 0; k < Memory_list[i].length; k++) {
                        obj.insertCell().innerHTML = Memory_list[i][k];
                    }
                }
                var rows = tbl.getElementsByTagName("tr");
                for (var j = 0; j < rows.length; j++) {
                    if (Memory_list[j][2] >= 50.00) {
                        rows[j].style.color = "#f00";
                    }
                }
                rows[0].style.fontWeight = "bold";//加粗表头th字体
            });
        }
        add()
    </script>
    <h1 id=></h1>
    <table width="70%" border="1px" id="tad" align="center">
    </table>
{% endblock %}