{% extends "base.html" %}
{% block bodycontent %}
    <script>
       function data_rend(memoryList,i) {
           var memoryList = memoryList;
                var ydata = [];
                var xdata = [];
                for (var i = 0; i < memoryList.length; i++) {
                    xdata.push(i);
                    var mdata = memoryList[i][memoryList[i].length - 1];
                    if (isNaN(mdata)) {
                        mdata = 0
                    }
                    ydata.push(mdata);
                }

                var option = {
                    title: {
                        text: '内存分配情况'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: function (params) {
                            return params.value[2] + '<br/>' + "内存分配值：" + params.value[1];
                        }
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    legend: {
                        data: ['内存使用情况']
                    },
                    grid: {
                        y2: 80
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: xdata
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} MB'
                            }
                        }
                    ],
                    series: [
                    ]
                };

                return option;
        }

       function checkboxOnclick(checkBox,i,package_name,li) {

                if (checkBox.checked == true) {
                    var version = li.innerHTML;
                    var dataList;
                    $.get("/performance/getMemData/" + package_name + "/" + version).done(function (data) {
                    dataList=data['memory_list'];
                    dataList = handedata(dataList);
                    var option = data_rend(dataList, i);
                    m =allcheck(m,i,dataList,option,'memory_chart');
                    verchecked = vercheck(verchecked,i,true);
                    });


                    //Action for checked
                } else {
                    verchecked = vercheck(verchecked,i,false);
                    dataList = [];
                    var option = data_rend(dataList, i);
                    m =allcheck(m,i,dataList,option,'memory_chart');
                    //Action for not checked
                }
            }




        function data_render() {
           var package_name = localStorage.getItem("package_name");
            var version_name = localStorage.getItem("version");
            $.get('/performance/getMemData/' + package_name + '/' + version_name).done(function (data) {
                var memoryList = data["memory_list"]
                var ydata = [];
                var xdata = [];
                for (var i = 0; i < memoryList.length; i++) {
                    xdata.push(i);
                    var mdata = memoryList[i][memoryList[i].length - 1];
                    if (isNaN(mdata)) {
                        mdata = 0
                    }
                    ydata.push(mdata);
                }

                var option = {
                    title: {
                        text: '内存分配情况'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: function (params) {
                            return params.value[2] + '<br/>' + "内存分配值：" + params.value[1];
                        }
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    {#                    dataZoom: {#}
                    {#                        show: true,#}
                    {#                        start: 70#}
                    {#                    },#}
                    legend: {
                        data: ['内存使用情况']
                    },
                    grid: {
                        y2: 80
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: xdata
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} MB'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '内存使用情况',
                            type: 'line',
                            showAllSymbol: true,
                            data: (function () {
                                var d = [];
                                for (var i = 0; i < memoryList.length; i++) {
                                    var value = memoryList[i][1];
                                    if (isNaN(value)) {
                                        value = 0;
                                    }
                                    d.push([xdata[i],
                                        value, memoryList[i][0]])
                                }
                                return d;
                            })(),
                            markLine: {
                                data: [{
                                    name: '内存分配最大值',
                                    value: 30,
                                    smooth: true,
                                    xAxis: 1,
                                    yAxis: 30
                                }]
                            }
                        }
                    ]
                };

                // 设置chart
                var myChart = echarts.init(document.getElementById('memory_chart'));

                myChart.setOption(option)
            });
        }
       data_render();
    </script>

   <div id="memory_chart" style="width: 70%;height: 400px; margin: 0 auto"></div>
{% endblock %}