{% extends "base.html" %}
{% block bodycontent %}
    <script>
        function add() {
            var package_name = localStorage.getItem("package_name");
            var version_name = localStorage.getItem("version");
            $.get('/performance/getFpsData/' + package_name+'/'+version_name).done(function (data) {
                var fps_list = data["fps_list"]
                var tbl = document.getElementById("tad");
                for (var i = 0; i < fps_list.length; i++) {
                    var obj = tbl.insertRow(tbl.rows.length);
                    for (var k = 0; k < fps_list[i].length; k++) {
                        obj.insertCell().innerHTML = fps_list[i][k];
                    }
                }
                var rows = tbl.getElementsByTagName("tr");
                for (var j = 0; j < rows.length; j++) {
                    //暂定fps的规则是帧率小于35，丢帧数目大于10帧
                    if (fps_list[j][1] <= 35 || fps_list[j][2] >= 10) {
                        rows[j].style.color = "#f00";//调整表格内字体颜色

                    }
                }
                rows[0].style.fontWeight = "bold";//加粗表头th字体
            });
        }
        add()
    </script>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title">温馨提示:</h2>
        </div>
        <div class="panel-body">
            <strong>测试页面帧率时，请在手机开发者选项—GPU呈现模式分析 勾选【在 adb shell dumpsys gfxinfo中】</strong><br />
        </div>
    </div>
    <h1 id=></h1>

    <table width="70%" border="1px" id="tad" align="center">
    </table>

{% endblock %}