{% extends "base.html" %}
{% block bodycontent %}
    <script>
        function renderData() {
            var package_name = localStorage.getItem("package_name");
            var version_name = localStorage.getItem("version");
            $.get('/performance/getFpsData/' + package_name + '/' + version_name).done(function (data) {
                var fpsList = data["fps_list"];
                var xdata = [];
                var ydata = [];
                for (var i = 0; i < fpsList.length; i++) {
                    xdata.push(fpsList[i][0]);
                    ydata.push(fpsList[i][1]);
                }

                var option = {
                    title: {
                        text: '页面流畅度'
                    },
                    color: ['#3398DB'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xdata,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} fps'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '页面流畅度',
                            type: 'bar',
                            barWidth: '60%',
                            data: ydata,
                            markLine: {
                                data: [{
                                    name: '页面流畅度最小值',
                                    value: 40,
                                    smooth: true,
                                    xAxis: 1,
                                    yAxis: 40
                                }]
                            }
                        }
                    ]
                };
                var myChart = echarts.init(document.getElementById('fps_chart'));
                myChart.setOption(option);


            });
        }

        renderData();
    </script>

    <div id="fps_chart" style="width: 70%;height: 400px; margin: 0 auto;"></div>
{% endblock %}