{% extends "base.html" %}
{% block bodycontent %}
    <script>
        function add() {
            var package_name = localStorage.getItem("package_name");
            var version_name = localStorage.getItem("version");
            $.get('/performance/getKpiData/' + package_name+'/'+version_name).done(function (data) {
                var Kpi_list = data["kpi_list"];
                var tbl = document.getElementById("tad");
                for (var i = 0; i < Kpi_list.length; i++) {
                    var obj = tbl.insertRow(tbl.rows.length);
                    for (var k = 0; k < Kpi_list[i].length; k++) {
                        obj.insertCell().innerHTML = Kpi_list[i][k];
                    }
                }
                var rows = tbl.getElementsByTagName("tr");
                for (var j = 0; j < rows.length; j++) {
                    //kpi暂时将超过2s加载时间的定义为有问题的
                    if (Kpi_list[j][1] >= 2000) {
                        rows[j].style.color = "#f00";
                    }
                }
                rows[0].style.fontWeight = "bold";//加粗表头th字体
            });
        }
        add()
    </script>

    <h1 id=></h1>

    <table width="70%" border="1px" id="tad" align="center">
    </table>
{% endblock %}