{% extends "base.html" %}
{% block bodycontent %}
    <script>
        function add() {
            var package_name = localStorage.getItem("package_name");
            $.get('/performance/getCpuData/' + package_name).done(function (data) {
                var CPU_list = data['cpu_list'];
                var tbl = document.getElementById("tad");
                for (var i = 0; i < CPU_list.length; i++) {
                    var obj = tbl.insertRow(tbl.rows.length);
                    for (var k = 0; k < CPU_list[i].length; k++) {
                        obj.insertCell().innerHTML = CPU_list[i][k];
                    }
                }
                var rows = tbl.getElementsByTagName("tr");
                for (var j = 0; j < rows.length; j++) {
                    // 当cpu占有率大于30%时，认为是有问题的。
                    if (CPU_list[j][1] >= 30.00) {
                        rows[j].style.color = "#f00";
                    }
                }
                rows[0].style.fontWeight = "bold";//加粗表头th字体
            });
        }
        add()
    </script>
    <h1 id=></h1>
    <table width="70%" border="1px" id="tad" align="center">
    </table>
{% endblock %}