{% extends "base.html" %}
{% block bodycontent %}
    <script>
        function add() {
             var package_name = localStorage.getItem("package_name");
            $.get('/datashow/getPowerData/' + package_name).done(function (data) {
                var Power_list = data["power_list"];
                var tbl = document.getElementById("tad");
                for (var i = 0; i < Power_list.length; i++) {
                    var obj = tbl.insertRow(tbl.rows.length);
                    for (var k = 0; k < Power_list[i].length; k++) {
                        obj.insertCell().innerHTML = Power_list[i][k];
                    }
                }
                var rows = tbl.getElementsByTagName("tr");
                for (var j = 0; j < rows.length; j++) {
                    if (Power_list[j][1] >= 50.00) {
                        rows[j].style.color = "#f00";
                    }
                }
                rows[0].style.fontWeight = "bold";//加粗表头th字体
            });
        }
        add()
    </script>
    <h1 id=></h1>
    <div style="position:relative;left:50px">
        <table width="60%" border="1px" id="tad">
        </table>
    </div>
{% endblock %}