{% extends "base.html" %}
{% block bodycontent %}
    <script>
        function add() {
            var package_name = localStorage.getItem("package_name");
            var version_name = localStorage.getItem("version");
            $.get('/performance/getFlowData/' + package_name + '/' + version_name).done(function (data) {
                var Flow_list = data["flow_list"];
                var tbl = document.getElementById("tad");
                for (var i = 0; i < Flow_list.length; i++) {
                    var obj = tbl.insertRow(tbl.rows.length);
                    for (var k = 0; k < Flow_list[i].length; k++) {
                        obj.insertCell().innerHTML = Flow_list[i][k];
                    }
                }
                var rows = tbl.getElementsByTagName("tr");
                for (var j = 0; j < rows.length; j++) {
                    if (Flow_list[j][2] >= 100.00) {
                        rows[j].style.color = "#f00";
                    }
                }
                rows[0].style.fontWeight = "bold";//加粗表头th字体
            });
        }
        add()
    </script>
    <h1 id=></h1>

    <table width="70%" border="1px" id="tad" align="center">
    </table>
{% endblock %}