{% extends "base.html" %}
{% block bodycontent %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">使用须知:</h2>
        </div>
        <div class="panel-body">
            <mark>用来展示性能数据</mark>
            <p><mark>可以选择包名，查看对应app的性能数据</mark></p>

        </div>
    </div>
    <!--第三方包列表的容器-->
    <div id="third_list_container">
        <div class="panel-heading" id="pk_list_header"></div>
        <div class="panel-body">
            <ul class="list-group" id="pk_list">
            </ul>
        </div>
    </div>

{% endblock %}